body {
    width: auto; ;
    height: auto;;
    background: linear-gradient(180deg, rgba(106, 129, 250, 0.65) 53.12%, rgba(161, 210, 255, 0.65) 99.99%, rgba(161, 210, 255, 0.00) 100%), linear-gradient(0deg, rgba(161, 238, 255, 0.00) 0%, rgba(161, 238, 255, 0.00) 100%);
    font-family: Roboto;
    box-sizing: border-box;
    gap: 22%;
    align-items: center;
}

.header{

    width: 100%; ;
    height: 1.4%;
    background: rgba(245, 245, 245, 0.218);

}

.header h1{
    color: #ffffff;
    background: rgba(245, 245, 245, 0.208);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
}

header li{
    display: inline;
    border-radius: 90px;
    height: 40%;
    width: 3.2%;
    background: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 600;
    margin-inline-start: 9%;
}

.imagen{
    width: 317px;
    height: 400px;
    top: 23.7%;
    left: 20%;
    border-radius: 50px;
    border: 1px;
    padding: 20px;
}

.imagen img{
    border-radius: 50px;
    border: 1px solid #000;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    width: 317px;
    overflow: hidden;
}

.fototexto{
    max-width: 100%;
    height: auto;
    display: flex;
    align-items: center; 
    margin: 2%;
}

.menu-icon {
    display: none; 
    cursor: pointer;
}


.bar {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
}


.nav-links {
    display: block;
}

.nav-links.active {
    display: block;
}

.texto{
    flex-direction: column;
    margin-top: 2%;
    width: 80%;
    height: 430px;
    background: rgba(217, 217, 217, 0.15);
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
}

.textodif{
    margin-top: 20px;
    width: 80%;
    height: 430px;
    padding-left: 30px;
    background: rgba(217, 217, 217, 0.15);
    color: #FFF;
    text-align: justify;
    font-family: Roboto;
    font-size: 20px;
    font-weight: bolder;
}

.textodif li{
margin-top: 20px;
}

.texto h1{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 600;
}

.ligero {
    font-weight: lighter;
}

.boton {
    width: 10em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 1%;
    font-size: 16px;
    background-color:#fff ;
    color: #000000;
    border-radius: 90px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    margin-top: 1%;
    margin-bottom: 1%;
}

.botonred {
    display: inline;
    margin-right: 1%;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.botonred:hover {
    background-color: #6d9acb;
}

.boton:hover {
    background-color: #6d9acb;
}


#descargarPDF, 
#uadeButton,
#faveditButton,
#linkedinButton,
#githubButton {
    align-items: center;
    padding: 5px; 
}


#descargarPDF img,
#uadeButton img {
    width: 25px; ;
    height: 25px; ;
}

#faveditButton img,
#linkedinButton img,
#githubButton img {
    height: 25px; 
}

footer {
    text-align: center; 
    color: white; 
    padding: 20px; 
    margin-top: auto; 
}

@media (max-width: 768px) {
    .menu-icon {
    display: block;
    }
    
    .nav-links {
    display: none; 
    }

    .texto {
        flex-direction: column;
        text-align: center ;

    }
    .line-break {
        display: block; 
        }

    .fototexto{
        flex-direction: column;
        width: 100%; 
    }
}

